.container {
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0%;
}

.container nav h1,
.container nav h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.container nav .nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.book-detail-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
}

.book-detail {
  background: #ffffff;
  border: 2px solid #d1d5db;
  width: 90%;
  max-width: 2000px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  margin: 20px auto; 
  text-align: left;
}

.book-layout {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 30px;
}

.book-image {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  margin: 0 auto;
}

.book-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-header h2 {
  font-size: 50px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 4px;
}

.book-header h4 {
  color: #4b5563;
  font-weight: normal;
  margin-top: 0;
  font-size: 30px;
}

.book-info {
  color: #374151;
  font-size: 25px;
}

.book-desc {
  color: #444;
  line-height: 1.6;
  font-size: 26px;
  text-align: justify;
}

.back-btn {
  display: block;
  width: fit-content;
  margin: 15px auto 20px 0;
  text-decoration: none;
  color: #ffffff;
  background: #488eff;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 25px;
  transition: background 0.3s;
  position: relative;
  left: 0%;
}

.back-btn:hover {
  background: #1e40af;
}